.login_container_signUp {
    max-width: 480px;
    margin: 0 auto;
    padding: 20px;
    
    background-color: #ffff; 
    
    height: 75vh; 
    border-radius: 10px;
    
}
.sign-up-container h1 {
    text-align: center;
    margin-bottom: 20px;
}
.sign-up-container form {
    margin-bottom: 20px;
}.sign-up-container button {
    width: 25%;
}

.sign-up-container a {
    display: block;
    text-align: center;
}
.agree_andjoin:hover {
    background-color: orange;
}
.color_orange{
    color: orange;}