/* body {
	margin-top: 100px;
	z-index: -1;
} */
/* .ask button {
	border: none;
	padding: 15px;
	border-radius: 5px;
	/* width: 70px; */
/* } */
/* .upper {
	display: flex;
	justify-content: space-between;
}
.tie {
	font-size: 100px;
	color: #cccccc;
} */
/* .main-wrapper { */
    /* margin-right: 100px; */

	/* display: flex;
	justify-content: space-between;
	padding: 25px 0;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	margin-bottom: 25px;
} */
/* .inside {
	display: flex; */
	/* justify-content:space-evenly; */
/* } */
/* .tieuser {
	padding-right: 200px;
}
.sign{
margin-right:30px}

@media (max-width: 600px) {
	.upper {
		display: block;
	}
	.inside {
		display: block;
	}
} */
